@media only screen and (max-width: 400px) {
  input {
    width:60px;
    height:40px;
  }
  #chartContainer {
    height:250px;
  }
}

@media only screen and (max-width: 800px) {
  input {
    height:30px;
  }
}

.input, #chartContainer, .outcome {
  width: 100%;
  max-width: 600px;
  }

#chartContainer {

}

.outcome {
  position:relative;
  left:-3000px;
}


input {
  max-width:100px;
}

table, form {
  width:100%;
}

table tbody tr td:first-child {
  padding-right: 10px;
}

table tbody tr td:nth-child(2), input
{
    text-align:right;
    background-color:white;
    border: none;
}

.required {
  background-color:aliceblue;
  color:blue;
  border-style:solid;
  border-color: #D3D3D3;
  border-width: 1px;
}

#final_recommendation {

  padding: 12px;
}

body {
  font-family: Calibri;
}

#nominal_required_income, #required_balance, #retirement_balance, #actual_income  {
  font-size: 0.9em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}